<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="home" oncontextmenu="return false">
    <header class="header">
      <div class"social-header">
        <a class="socials" href="https://www.instagram.com/rvdimir/">I N S T A G R A M </a>
        <p class="socials">/</p>
        <a class="socials" href="https://twitter.com/RadVkoch">T W I T T E R </a>
        <p class="socials">/</p>
        <a class="socials" href="https://www.facebook.com/radisart/">F A C E B O O K </a>
        <p class="socials">/</p>
        <a class="socials" href="mailto:Radimirvkoch@gmail.com">E M A I L</a>
      </div>
      <p class="rvd">R V D</p>
    </header>
    <!-- TODO onClick of cover image, add display: none to text elements on home page,  -->
    <% albums.forEach((album, i) => { %>
      <script type="text/javascript">
        $(document).ready(() => {
          $("#lightgallery-<%= i %>").lightGallery({
            download: false,
            share: true
          });
        });
      </script>
    <% }); %>
    <div class="container" class"z-index: 9999">
      <% albums.forEach((album, i) => { %>
        <% if(album.cover) { %>
          <% covers.forEach((cover, ii) => { %>
            <% if(cover.album_id == album.id) { %>
              <div id="lightgallery-<%= i %>" class="lg-cover">
                <a href="/uploads/<%= album.id %>/<%= cover.file_name %>" data-sub-html="<h3><%= cover.title %></h3><h4><%= cover.description %></h4>">
                  <div class="album-cover">
                    <img class="cover-image" src="/uploads/<%= album.id %>/<%= cover.file_name %>" alt="">
                    <h4 class="title"><%= album.title %></h4>
                  </div>
                </a>
                <% images.forEach((image) => { %>
                  <% if(image.album_id === album.id && image.file_name !== cover.file_name && images.length > 0) { %>
                    <a href="/uploads/<%= album.id %>/<%= image.file_name %>" style="display: none;" data-sub-html="<h3><%= image.title %></h3><h4><%= image.description %></h4>">
                      <img src="/uploads/<%= album.id %>/<%= image.file_name %>" alt="">
                    </a>
                  <% }  %>
                <% })%>
              </div>
            <% } %>
          <% }); %>
        <% } %>
      <% }); %>
  </body>
</html>
