<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="home" oncontextmenu="return false">
    <% albums.forEach((album, i) => { %>
      <script type="text/javascript">
        $(document).ready(() => {
          $("#lightgallery-<%= i %>").lightGallery();
        });
      </script>
    <% }); %>
    <header class="header">
      <div class"social-header">
        <a class="socials" href="https://www.instagram.com/rvdimir/">I N S T A G R A M </a>
        <p class="socials">/</p>
        <a class="socials" href="https://twitter.com/RadVkoch">T W I T T E R </a>
        <p class="socials">/</p>
        <a class="socials" href="https://www.facebook.com/radisart/">F A C E B O O K </a>
        <p class="socials">/</p>
        <a class="socials" href="mailto:Radimirvkoch@gmail.com">E M A I L</a>
      </div>
      <p class="rvd">R V D</p>
    </header>
      <!-- TODO render album-covers, titles based on album data  -->
      <!-- TODO see if I can generate a div with id=lightgallery for each album and then generate img tags for each album within each gallery div -->
      <!-- set all img tags to display: none except the cover photo -->

      <!-- TODO dynamically render images from local directories per each folder, instead of hard-coding  -->
      <!-- TODO store file name of album cover image so I can insert that instead of hardcoding -->
      <!-- TODO render album images instead of hard-coding -->
    <div class="container">
      <% albums.forEach((album, i) => { %>
        <% let album_id = album.id %>
        <div id="lightgallery-<%= i %>" class="lg-cover">
          <a href="/uploads/<%= album_id %>/<%= covers[i].file_name %>">
            <div class="album-cover">
              <img class="cover-image" src="/uploads/<%= album_id %>/<%= covers[i].file_name %>" alt="">
              <h4 class="title"><%= album.title %></h4>
            </div>
          </a>
          <a href="/uploads/<%= album_id %>/<%= covers[i].file_name %>" style="display: none;">
            <div class="album-cover">
              <img src="/uploads/19/Screen Shot 2017-05-11 at 11.32.16 PM.png" alt="">
            </div>
          </a>
        </div>
      <% }); %>
    </div>
  </body>
</html>
