<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <!-- TODO show a loading screen until $(window).load() and img files preloaded and when ready, play an animation or gif that plays once as a transition animation and then fades out and fades into the website -->
  <body class="home" oncontextmenu="return false">
    <header class="header">
      <div class"social-header">
        <a class="socials instagram not-email not-facebook not-twitter " href="https://www.instagram.com/rvdimir/">I N S T A G R A M </a>
        <p class="socials">/</p>
        <a class="socials twitter not-email not-facebook not-instagram" href="https://twitter.com/RadVkoch">T W I T T E R </a>
        <p class="socials">/</p>
        <a class="socials facebook not-email not-twitter not-instagram" href="https://www.facebook.com/radisart/">F A C E B O O K </a>
        <p class="socials">/</p>
        <a class="socials email not-facebook not-twitter not-instagram" href="mailto:Radimirvkoch@gmail.com">E M A I L</a>
      </div>
      <p class="rvd">R V D</p>
    </header>
    <% albums.forEach((album, i) => { %>
      <script type="text/javascript">
        $(document).ready(() => {
          $("#lightgallery-<%= i %>").lightGallery({
            download: false,
            share: true
          });
        });
      </script>
    <% }); %>
    <div class="container" class"z-index: 9999">
      <% albums.forEach((album, i) => { %>
        <% if(album.cover) { %>
          <% covers.forEach((cover, ii) => { %>
            <% if(cover.album_id == album.id) { %>
              <div id="lightgallery-<%= i %>" class="lg-cover">
                <a class="cover-link" href="/uploads/<%= album.id %>/<%= cover.file_name %>" data-sub-html="<h3><%= cover.title %></h3><h4><%= cover.description %></h4>">
                  <div class="album-cover">
                    <img class="cover-image-<%= i %>" src="/uploads/<%= album.id %>/<%= cover.file_name %>" alt="">
                  </div>
                  <h4 class="title"><%= album.title %></h4>
                </a>
                <% images.forEach((image) => { %>
                  <% if(image.album_id === album.id && image.file_name !== cover.file_name && images.length > 0) { %>
                    <a href="/uploads/<%= album.id %>/<%= image.file_name %>" style="display: none;" data-sub-html="<h3><%= image.title %></h3><h4><%= image.description %></h4>">
                      <img src="/uploads/<%= album.id %>/<%= image.file_name %>" alt="">
                    </a>
                  <% }  %>
                <% })%>
              </div>
            <% } %>
          <% }); %>
        <% } %>
        <script>
          $(window).load(() => {
            if($('.cover-image-<%= i %>').width() > $('.cover-image-<%= i %>').height()) {
              $('.cover-image-<%= i %>').addClass('landscape');
            } else {
              $('.cover-image-<%= i %>').addClass('portrait');
            }
          })
        </script>
      <% }); %>
    <script>
      $('.instagram').hover(() => {
        $('.not-instagram').css('transition', 'opacity .2s ease-in');
        $('.not-instagram').css('opacity', 0.5);
      });
      $('.facebook').hover(() => {
        $('.not-facebook').css('transition', 'opacity .2s ease-in');
        $('.not-facebook').css('opacity', 0.5);
      });
      $('.email').hover(() => {
        $('.not-email').css('transition', 'opacity .2s ease-in');
        $('.not-email').css('opacity', 0.5);
      });
      $('.twitter').hover(() => {
        $('.not-twitter').css('transition', 'opacity .2s ease-in');
        $('.not-twitter').css('opacity', 0.5);
      });

      $('.instagram').mouseleave(() => {
        $('.not-instagram').css('transition', 'opacity .2s ease-in');
        $('.not-instagram').css('opacity', 1);
      });
      $('.facebook').mouseleave(() => {
        $('.not-facebook').css('transition', 'opacity .2s ease-in');
        $('.not-facebook').css('opacity', 1);
      });
      $('.email').mouseleave(() => {
        $('.not-email').css('transition', 'opacity .2s ease-in');
        $('.not-email').css('opacity', 1);
      });
      $('.twitter').mouseleave(() => {
        $('.not-twitter').css('transition', 'opacity .2s ease-in');
        $('.not-twitter').css('opacity', 1);
      });
    </script>
  </body>
</html>
