<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="home" oncontextmenu="return false">
    <% albums.forEach((album, i) => { %>
      <script type="text/javascript">
        $(document).ready(() => {
          $("#lightgallery-<%= i %>").lightGallery();
        });
      </script>
    <% }); %>
    <header class="header">
      <div class"social-header">
        <a class="socials" href="https://www.instagram.com/rvdimir/">I N S T A G R A M </a>
        <p class="socials">/</p>
        <a class="socials" href="https://twitter.com/RadVkoch">T W I T T E R </a>
        <p class="socials">/</p>
        <a class="socials" href="https://www.facebook.com/radisart/">F A C E B O O K </a>
        <p class="socials">/</p>
        <a class="socials" href="mailto:Radimirvkoch@gmail.com">E M A I L</a>
      </div>
      <p class="rvd">R V D</p>
    </header>
    <div class="container">
      <!-- TODO do not display album if cover image is not selected -->
      <% albums.forEach((album, i) => { %>
        <% if(album.cover) { %>
          <div id="lightgallery-<%= i %>" class="lg-cover">
            <a href="/uploads/<%= album.id %>/<%= covers[i].file_name %>">
              <div class="album-cover">
                <img class="cover-image" src="/uploads/<%= album.id %>/<%= covers[i].file_name %>" alt="">
                <h4 class="title"><%= album.title %></h4>
              </div>
            </a>
            <% images.forEach((image) => { %>
              <% if(image.album_id === album.id && image.file_name !== covers[i].file_name) { %>
                <a href="/uploads/<%= album.id %>/<%= image.file_name %>" style="display: none;">
                  <img src="/uploads/<%= album.id %>/<%= image.file_name %>" alt="">
                </a>
              <% }  %>
            <% })%>
          </div>
        <% } %>
      <% }); %>
  </body>
</html>
