<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="home" oncontextmenu="return false">
    <div class="preload">
      <img class="pre-gif" src="/images/preload.gif">
    </div>
    <% include ../partials/header %>
    <!-- TODO see if I can get gif to always start at the beginning now matter if the page is regular or hard refreshed -->
    <!-- TODO see if I can reduce gap between when the opacity fadeIn starts and when the fadeOut begins -->
    <script>
      function transition(element) {
        $(element).css('transition', 'opacity 0.45s ease-in').css('opacity', 1);
      };

      $('.preload').fadeOut(3500, () => {
        transition('.header');
        transition('.container');
      });
      const isTouch = 'ontouchstart' in window || navigator.msMaxTouchPoints;
    </script>
    <% albums.forEach((album, i) => { %>
      <script type="text/javascript">
        $(document).ready(() => {
          $("#lightgallery-<%= i %>").lightGallery({
            controls: isTouch ? false : true,
            download: false,
            share: false
          });
        });
      </script>
    <% }); %>
    <div class="container" class"z-index: 9999">
      <% albums.forEach((album, i) => { %>
        <% if(album.cover) { %>
          <% covers.forEach((cover) => { %>
            <% if(cover.album_id == album.id) { %>
              <div id="lightgallery-<%= i %>" class="lg-cover">
                <a class="cover-link" href="/uploads/<%= album.id %>/<%= cover.file_name %>" data-sub-html="<h3><%= cover.title %></h3><h4><%= cover.description %></h4>">
                  <div class="album-cover">
                    <img class="cover-image-<%= i %>" src="/uploads/<%= album.id %>/<%= cover.file_name %>" alt="">
                  </div>
                  <h4 class="title"><%= album.title %></h4>
                </a>
                <% images.forEach((image) => { %>
                  <% if(image.album_id === album.id && image.file_name !== cover.file_name && images.length > 0) { %>
                    <a class="not-cover" href="/uploads/<%= album.id %>/<%= image.file_name %>" data-sub-html="<h3><%= image.title %></h3><h4><%= image.description %></h4>">
                      <img src="/uploads/<%= album.id %>/<%= image.file_name %>" alt="">
                    </a>
                  <% }  %>
                <% })%>
              </div>
            <% } %>
          <% }); %>
        <% } %>
        <script>
          $(window).load(() => {
            if($('.cover-image-<%= i %>').width() > $('.cover-image-<%= i %>').height()) {
              $('.cover-image-<%= i %>').addClass('landscape');
            } else {
              $('.cover-image-<%= i %>').addClass('portrait');
            }
          })
        </script>
      <% }); %>
    </div>
    <script>
      function hover(element) {
        $('.'+element).hover(() => {
          $('.not-'+element).css('transition', 'opacity .3s ease-in');
          $('.not-'+element).css('opacity', 0.5);
        });
      }

      function leave(element) {
        $('.'+element).mouseleave(() => {
          $('.not-'+element).css('transition', 'opacity .3s ease-in');
          $('.not-'+element).css('opacity', 1);
        });
      }

      hover('instagram');
      hover('facebook');
      hover('email');
      hover('twitter');
      hover('soundcloud');
      leave('instagram');
      leave('facebook');
      leave('email');
      leave('twitter');
      leave('soundcloud');
    </script>
  </body>
</html>
